<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Indrani Jewellers</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <!-- Layout config Js -->
    <script src="~/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->


    <style>
        .app-menu {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: 260px; /* Adjust width as needed */
            overflow-y: auto;
            background-color: #343a40; /* Sidebar background color */
        }

        .navbar-menu {
            height: 100%;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    <!-- Begin page -->
    <div id="layout-wrapper">
        <!-- Navbar -->
        <header id="page-topbar">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
                <div class="container-fluid">
                    <!-- Logo -->
        
                    <!-- Toggler button -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Navbar links -->
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Catelouge</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="chartsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Charts
                                </a>
                                <div class="dropdown-menu" aria-labelledby="chartsDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Charts" asp-action="Bar">Bar Chart</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Charts" asp-action="Line">Line Chart</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Charts" asp-action="DoughnetChart">Doughnet Chart</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Charts" asp-action="AreaChart">Area Chart</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Charts" asp-action="Home">Home</a>
                                </div>
                            </li>
                        </ul>
                        <!-- Display username and role -->
                        @if (HttpContextAccessor.HttpContext.Session.GetString("UserName") != null)
                        {
                            <div style="margin-right: 10px;">
                                <span style="font-weight: color: gray;">Welcome: @HttpContextAccessor.HttpContext.Session.GetString("DisplayName")</span>
                            </div>
                            <div style="margin-right: 10px;">
                                <span style="font-weight: color: gray;">Role: @HttpContextAccessor.HttpContext.Session.GetString("RoleName")</span>
                            </div>
                        }
                    </div>
                </div>
            </nav>
        </header>


        <!-- Sidebar -->
        <div class="app-menu navbar-menu">
            <div id="scrollbar">
                <div class="container-fluid">
                    <ul class="navbar-nav" id="navbar-nav">
                        <img src="~/assets/images/lplogo.jpg">

                        <!-- User Management -->
                        <li class="menu-title"><span data-key="t-menu">User Management</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#Users" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="Users">
                               <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Users</span>
                            </a>

                            <div class="collapse menu-dropdown" id="Users">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">
                                            User Details
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- Product Management -->
                        <li class="menu-title"><span data-key="t-menu">Product Management</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#Product" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="Product">
                                <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Product</span>
                            </a>
                            <div class="collapse menu-dropdown" id="Product">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">
                                            Product Master
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="ProductDetails" asp-action="Index">
                                            Product Details
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- Employee Management -->
                        <li class="menu-title"><span data-key="t-menu">Employee Management</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#Employee" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="Employee">
                                <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Employee</span>
                            </a>

                            <div class="collapse menu-dropdown" id="Employee">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="Index">
                                            Employee Details
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- Customer Management -->
                        <li class="menu-title"><span data-key="t-menu">Customer Management</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#Customer" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="Customer">
                                <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Customers</span>
                            </a>

                            <div class="collapse menu-dropdown" id="Customer">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Customer" asp-action="Index">
                                            Customers Details
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- Bill Management -->
                        <li class="menu-title"><span data-key="t-menu">Bill Management</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#Bill" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="Bill">
                                <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Bills</span>
                            </a>

                            <div class="collapse menu-dropdown" id="Bill">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Bill" asp-action="GenerateInvoice">
                                            Generate Bills
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- Gold & Silver Loan -->
                        <li class="menu-title"><span data-key="t-menu">Gold & Silver Loan</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#Grievance" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="Grievance">
                                <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Gold Loan</span>
                            </a>

                            <div class="collapse menu-dropdown" id="Grievance">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Loan" asp-action="Index">
                                            Gold Loan
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Add more menu items as needed -->
                    </ul>
                </div>
            </div>
            <div class="sidebar-background"></div>
        </div>

        <!-- Main content -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- Page content -->
                    @RenderBody()
                </div>
            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Indrani Jewellers
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Powered By <a href="https://www.example.com/">Anuj Jaiswal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- End main content -->
    </div>
    <!-- End layout-wrapper -->
    <!-- Back to top button -->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



   

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
